.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.css-a5mhaz{
  padding: 0px!important;
}

.ListItem{
  background-color: rebeccapurple;
}


@media only screen and (max-width: 600px) {
 .boxsize{
  height: 558px!important;
 }
 .mainbox{
  height: 45rem!important;
 }
 .mainsecond{
  height: 43rem!important;
 }
 .overlap{
  margin-top: 3rem!important;
 }
 .css-ry2qgf,.css-1plcf9o,.css-1nz4s6z{
  width: 100%!important;
 }
 .chakra-text .css-3pzyr9{
  font-size: 17px!important;
 }
 .css-1okn489{
  padding: 30px!important;
 }
 .css-1xkxvif {
  --chakra-line-clamp: 10!important;
}
.css-1puzrxq {
font-size: 16px!important;
}
.css-kafhrw {
  height: 7rem!important;
  width: 153px!important;
  display: flex!important;
  justify-content: center!important;
  align-items: center!important;
}
  .comt{
  position: relative;
    top: -56px;
}
.imgstyle{
  height: 100%;
  width: 100%;
}
.css-k008qs{
  margin-bottom: 20px;
    margin-top: 30px;
}
.css-vhc7ah{
  height: 300px!important;
}

.boxsize{
 position: relative;
 top: -130px;
}
}

/* 
.card {
  font-size: 164px;
  width: 300px;
  height: 430px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  border-radius: 20px;
  box-shadow: 0 0 1px hsl(0deg 0% 0% / 0.075), 0 0 2px hsl(0deg 0% 0% / 0.075),
    0 0 4px hsl(0deg 0% 0% / 0.075), 0 0 8px hsl(0deg 0% 0% / 0.075),
    0 0 16px hsl(0deg 0% 0% / 0.075);
  transform-origin: 10% 60%;
}

.card-container {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-top: 20px;
  margin-bottom: -120px;
}

.splash {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  clip-path: path(
    "M 0 303.5 C 0 292.454 8.995 285.101 20 283.5 L 460 219.5 C 470.085 218.033 480 228.454 480 239.5 L 500 430 C 500 441.046 491.046 450 480 450 L 20 450 C 8.954 450 0 441.046 0 430 Z"
  );
} */
